# üõ∞Ô∏è An√°lisis Exploratorio de Datos (EDA) con SQL ‚Äì SpaceX

Este cuaderno contiene la carga, conexi√≥n, limpieza y an√°lisis de datos del conjunto de datos de SpaceX usando SQL en SQLite.

In [ ]:
# Instalaci√≥n de librer√≠as necesarias
!pip install sqlalchemy==1.3.9
!pip install ipython-sql prettytable
!pip install -q pandas

In [ ]:
# Cargar la extensi√≥n SQL
%load_ext sql

In [ ]:
# Conectarse a SQLite y preparar entorno
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
# Cargar CSV a un DataFrame de pandas
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

In [ ]:
# Eliminar tabla si existe y crear una limpia sin valores nulos en la columna Date
%sql DROP TABLE IF EXISTS SPACEXTABLE;
%sql CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL;

## ‚úÖ Consultas SQL del laboratorio de EDA

In [ ]:
%%sql
-- 1. Sitios √∫nicos de lanzamiento
SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

In [ ]:
%%sql
-- 2. N√∫mero de lanzamientos por sitio
SELECT Launch_Site, COUNT(*) AS Total_Launches
FROM SPACEXTABLE
GROUP BY Launch_Site;

In [ ]:
%%sql
-- 3. Fallos en drones en 2015
SELECT substr(Date, 6, 2) AS Month, "Landing_Outcome", Booster_Version, Launch_Site
FROM SPACEXTABLE
WHERE substr(Date, 0, 5) = '2015'
  AND "Landing_Outcome" = 'Failure (drone ship)';

In [ ]:
%%sql
-- 4. Rankear resultados de aterrizaje
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTABLE
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;

In [ ]:
%%sql
-- 5. Primeras 20 filas
SELECT * FROM SPACEXTABLE LIMIT 20;

In [ ]:
%%sql
-- 6. Lanzamientos por √≥rbita
SELECT Orbit, COUNT(*) AS Total
FROM SPACEXTABLE
GROUP BY Orbit
ORDER BY Total DESC;

In [ ]:
%%sql
-- 7. Aterrizajes exitosos en drone ship
SELECT COUNT(*) AS Successful_Drone_Landings
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Success (drone ship)';

In [ ]:
%%sql
-- 8. Fallos en aterrizajes
SELECT COUNT(*) AS Failed_Landings
FROM SPACEXTABLE
WHERE "Landing_Outcome" LIKE 'Failure%';

In [ ]:
%%sql
-- 9. Lanzamientos por cliente
SELECT Customer, COUNT(*) AS Total_Missions
FROM SPACEXTABLE
GROUP BY Customer
ORDER BY Total_Missions DESC;